{% extends 'base.html' %}


{% block page_title %}Register{% endblock %}


{% block content %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Register</h1>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Input Credentials For Register</span></h2>
    </div>
    <div class="row justify-content-center px-xl-5">
        <div class="col-lg-4 mb-5">
            <div class="contact-form">

                <!-- Flash message -->
                {% include 'partials/flash_message.html' %}
                <!--END Flash message -->

                <form action="/register" method="POST">
                    {{ register_form.csrf_token }}
                    <div class="control-group">
                        {{ register_form.first_name(class="form-control", placeholder="First name") }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{ register_form.last_name(class="form-control", placeholder="Last name") }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{ register_form.email(class="form-control", placeholder="Email") }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{ register_form.password(class="form-control", placeholder="Password") }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{ register_form.confirm_password(class="form-control", placeholder="Confirm password") }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="d-flex justify-content-center">
                        {{ register_form.submit(class="btn btn-primary py-2 px-4") }}
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}